@model PaymentViewModel
<h2>Card Payment is in the process</h2>


<form  class ="hidden "asp-action="CardSuccessful" >
</form>
    
<div style="padding-top: 140px;">
    <div style="background-color: white;
  width: 600px;
  border: 10px solid #cbf5f1;
  padding: 50px;
  margin: 20px;">
        <form>
            <div>
                <label>Card No.</label>
                <input type="text" placeholder="Enter your Card No" style="margin-left: 50px;" />
            </div>
            <div>
                <label>Enter CVV no</label>
                <input type="text" style="margin-left: 18.5px;" />
            </div>
            <div>
                <label>OTP</label>
                <input type="text" style="margin-left: 78.5px;" />
            </div>

            <div><a class="btn btn-primary pull-right" value="PayCash" asp-action="Successful">Pay</a></div>
        </form>

    </div>
</div>