@model PaymentViewModel

<div>
    <h4>Your Total Bill Amount :  @Model.Bill</h4>

    @*<form method="post">*@
    <form asp-action="CheckOut" asp-controller="Payment" asp-route-discountCode=@Model.DiscountCode>
        <label>Enter Your Coupon code</label>
        <input type="text" asp-for="@Model.DiscountCode" id="DiscountCode" name="DiscountCode">
        <input type="submit" value="Apply Code" class="btn btn-primary" />
    </form>

</div>

<div>

    @if (Model.FinalAmount < Model.Bill)
    {
        <h3>Congratulations! Discount is applied.</h3>
    }

    <h2>Amount payable : @Model.FinalAmount</h2>

    @if (Model.FinalAmount <= 10)
    {
        <a class="btn btn-primary" value="PayCash" asp-action="Success">Pay by Cash</a>
    }

    <a class="btn btn-primary" value="PayCard" asp-action="Success">Pay by Card</a>

</div>



