@model PaymentViewModel


<div>
    <h2>Welcome to payment processing Unit</h2>
    <h3>Your Total Bill:  @Model.TotalAmount</h3>
    @*<form method="post">*@
    <form asp-action="CheckOut" asp-controller="Payment" asp-route-discountPercent=@Model.discountedPercent>
        <label>Enter Your CouponCode</label>
        <input type="number" asp-for="@Model.discountedPercent" id="discountedPercent" name="discountPercent" min="0" max="100">
        <input type="submit" value="Apply Code" class="btn btn-primary" />
        @*<a class="btn "asp-controller="Payment" asp-action="ProceedToPayment" asp-route-discountPercent="">
            </a>*@
    </form>

</div>

    <div>
        @if (Model.discountedPercent != 0)
        {
            <h1>Congratulations . Discount is applied</h1>
        }

        <h2>The final Price :</h2>
        <div>
            <h2>@Model.DiscountedAmount</h2>
        </div>
        @if (Model.DiscountedAmount <= 10)
        {
            <a class="btn btn-primary" value="PayCash" asp-action="Successful">PayCash</a>

        }
        <a class="btn btn-primary" value="PayCash" asp-action="CardSuccessful">Pay With Card</a>

    </div>


