@model PaymentViewModel


<div>
    @if (Model.discountedPercent != 0)
    {
        <h1>Congratulations . Discount is applied</h1>
    }

    <h2>The final Price :</h2>
    <div>
        <h2>@Model.DiscountedAmount</h2> 
    </div>
    @if (Model.DiscountedAmount <= 10)
    {
        <a class="btn btn-primary" value="PayCash" asp-action="Successful">PayCash</a>

    }
    <a class="btn btn-primary" value="PayCash" asp-action="CardSuccessful">Pay With Card</a>

</div>